
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Task Overview: This page simply lists a set of tasks from the backend.
-->
<h2>@ViewBag.Title</h2>

<div id="task-overview">
    <!-- pretty empty here... the viewmodel 'TaskOverview' will be injected here -->    
</div>

<script type="text/template" id="task-overview-template">
    <ul>
        <li>
            <span>Titel: </span><%= Title %>
        </li>
    </ul>
    
</script>


@section Scripts{
    <!-- include the basic setup -->
    <script src="@Url.Content("~/assets/scripts/tasks.js")"></script>    
    
    <!-- page specific items -->
    <script>
        
        $(function() {

            // define the View for this specific page
            TaskOverview = Backbone.View.extend({
            
                initialize: function() {
                    this.render();
                },
                
                render: function () {
                    // compile the template using underscore
                    var template = _.template( $("#task-overview-template").html(), { } );
            
                    // load the compiled HTML into the Backbone "el"
                    this.$el.html(template);
                }
                
            });


            // after defining it, it's time to initialize the view
            var taskOverview = new TaskOverview({
                
                // bind it to the element; this can also be done in the constructor above
                el: $("#task-overview")
                
            });

        });
    </script>
}
